# Global Ignores
.DS_Store

# Generated Help Files
AlfrescoAppceleratorSDKHelp/

# AlfrescoTestHarness (Appcelerator)
AlfrescoTestHarness/build.log
AlfrescoTestHarness/build/
AlfrescoTestHarness/Resources/

# AlfrescoUI (Appcelerator)
AlfrescoUI/build.log
AlfrescoUI/build/

# AndroidSDKModule (Android)
AndroidSDKMobile/libs/
AndroidSDKModule/*.zip
AndroidSDKModule/build/
AndroidSDKModule/dist/

# iOSSDKModule (iOS)
iOSSDKModule/build/
xcuserdata
*.xccheckout
iOSSDKModule/*.zip
iOSSDKModule/ComAlfrescoAppceleratorModuleIosSdk.h
iOSSDKModule/ComAlfrescoAppceleratorModuleIosSdk.m
