# Global Ignores
.DS_Store

# Generated Help Files
AlfrescoAppceleratorSDKHelp/

# AlfrescoTestHarness (Appcelerator)
AlfrescoTestHarness/build.log
AlfrescoTestHarness/build/
AlfrescoTestHarness/Resources/

# AlfrescoUI (Appcelerator)
AlfrescoUI/build.log
AlfrescoUI/build/

# AndroidSDKModule (Android)
AndroidSDKMobile/libs/
AndroidSDKModule/*.zip
AndroidSDKModule/build/
AndroidSDKModule/dist/

# iOSSDKModule (iOS)
iOSSDKModule/build/
iOSSDKModule/xcuserdata
iOSSDKModule/*.xccheckout
iOSSDKModule/*.zip
iOSSDKModule/ComAlfrescoAppceleratorModuleIosSdk.h
iOSSDKModule/ComAlfrescoAppceleratorModuleIosSdk.m
AndroidSDKModule/libs/armeabi-v7a/libcom.alfresco.appcelerator.module.sdk.so
AndroidSDKModule/libs/armeabi/libcom.alfresco.appcelerator.module.sdk.so
AndroidSDKModule/libs/x86/libcom.alfresco.appcelerator.module.sdk.so
