# Global Ignores
.DS_Store

# Generated Help Files
AlfrescoAppceleratorSDKHelp/

# AlfrescoTestHarness (Appcelerator)
AlfrescoTestHarness/build.log
AlfrescoTestHarness/build/
AlfrescoTestHarness/Resources/

# AlfrescoUI (Appcelerator)
AlfrescoUI/build.log
AlfrescoUI/build/

# AndroidSDKModule (Android)
AndroidSDKMobile/libs/
AndroidSDKModule/*.zip
AndroidSDKModule/build/
AndroidSDKModule/dist/

# iOSSDKModule (iOS)
iOSSDKModule/build/
xcuserdata
*.xccheckout
iOSSDKModule/*.zip
iOSSDKModule/ComAlfrescoAppceleratorModuleIosSdk.h
iOSSDKModule/ComAlfrescoAppceleratorModuleIosSdk.m
AndroidSDKModule/libs/armeabi-v7a/libcom.alfresco.appcelerator.module.sdk.so
AndroidSDKModule/libs/armeabi/libcom.alfresco.appcelerator.module.sdk.so
AndroidSDKModule/libs/x86/libcom.alfresco.appcelerator.module.sdk.so
AndroidSDKModule/bin/com/alfresco/appcelerator/module/sdk/ActivityProxy.class
AndroidSDKModule/bin/com/alfresco/appcelerator/module/sdk/ActivityServiceProxy$1.class
AndroidSDKModule/bin/com/alfresco/appcelerator/module/sdk/ActivityServiceProxy$2.class
AndroidSDKModule/bin/com/alfresco/appcelerator/module/sdk/ActivityServiceProxy$3.class
AndroidSDKModule/bin/com/alfresco/appcelerator/module/sdk/ActivityServiceProxy$4.class
AndroidSDKModule/bin/com/alfresco/appcelerator/module/sdk/ActivityServiceProxy$5.class
AndroidSDKModule/bin/com/alfresco/appcelerator/module/sdk/ActivityServiceProxy$6.class
AndroidSDKModule/bin/com/alfresco/appcelerator/module/sdk/ActivityServiceProxy.class
AndroidSDKModule/bin/com/alfresco/appcelerator/module/sdk/AndroidsdkmoduleModule.class
AndroidSDKModule/bin/com/alfresco/appcelerator/module/sdk/CommentProxy.class
AndroidSDKModule/bin/com/alfresco/appcelerator/module/sdk/CommentServiceProxy$1.class
AndroidSDKModule/bin/com/alfresco/appcelerator/module/sdk/CommentServiceProxy$2.class
AndroidSDKModule/bin/com/alfresco/appcelerator/module/sdk/CommentServiceProxy$3.class
AndroidSDKModule/bin/com/alfresco/appcelerator/module/sdk/CommentServiceProxy$4.class
AndroidSDKModule/bin/com/alfresco/appcelerator/module/sdk/CommentServiceProxy$5.class
AndroidSDKModule/bin/com/alfresco/appcelerator/module/sdk/CommentServiceProxy.class
AndroidSDKModule/bin/com/alfresco/appcelerator/module/sdk/ContentFileProxy$1.class
AndroidSDKModule/bin/com/alfresco/appcelerator/module/sdk/ContentFileProxy$2.class
AndroidSDKModule/bin/com/alfresco/appcelerator/module/sdk/ContentFileProxy.class
AndroidSDKModule/bin/com/alfresco/appcelerator/module/sdk/DocumentFolderServiceProxy$1.class
AndroidSDKModule/bin/com/alfresco/appcelerator/module/sdk/DocumentFolderServiceProxy$2.class
AndroidSDKModule/bin/com/alfresco/appcelerator/module/sdk/DocumentFolderServiceProxy$3.class
AndroidSDKModule/bin/com/alfresco/appcelerator/module/sdk/DocumentFolderServiceProxy$4.class
AndroidSDKModule/bin/com/alfresco/appcelerator/module/sdk/DocumentFolderServiceProxy$5.class
AndroidSDKModule/bin/com/alfresco/appcelerator/module/sdk/DocumentFolderServiceProxy$6.class
AndroidSDKModule/bin/com/alfresco/appcelerator/module/sdk/DocumentFolderServiceProxy$7.class
AndroidSDKModule/bin/com/alfresco/appcelerator/module/sdk/DocumentFolderServiceProxy.class
AndroidSDKModule/bin/com/alfresco/appcelerator/module/sdk/DocumentProxy.class
AndroidSDKModule/bin/com/alfresco/appcelerator/module/sdk/FolderProxy.class
AndroidSDKModule/bin/com/alfresco/appcelerator/module/sdk/KeywordSearchOptionsProxy.class
AndroidSDKModule/bin/com/alfresco/appcelerator/module/sdk/ListingContextProxy.class
AndroidSDKModule/bin/com/alfresco/appcelerator/module/sdk/NodeProxy.class
AndroidSDKModule/bin/com/alfresco/appcelerator/module/sdk/PermissionsProxy.class
AndroidSDKModule/bin/com/alfresco/appcelerator/module/sdk/PersonProxy.class
AndroidSDKModule/bin/com/alfresco/appcelerator/module/sdk/PersonServiceProxy$1.class
AndroidSDKModule/bin/com/alfresco/appcelerator/module/sdk/PersonServiceProxy$2.class
AndroidSDKModule/bin/com/alfresco/appcelerator/module/sdk/PersonServiceProxy.class
AndroidSDKModule/bin/com/alfresco/appcelerator/module/sdk/RatingServiceProxy$1.class
AndroidSDKModule/bin/com/alfresco/appcelerator/module/sdk/RatingServiceProxy$2.class
AndroidSDKModule/bin/com/alfresco/appcelerator/module/sdk/RatingServiceProxy$3.class
AndroidSDKModule/bin/com/alfresco/appcelerator/module/sdk/RatingServiceProxy$4.class
AndroidSDKModule/bin/com/alfresco/appcelerator/module/sdk/RatingServiceProxy.class
AndroidSDKModule/bin/com/alfresco/appcelerator/module/sdk/RepositorySessionProxy$ConnectToRepo.class
AndroidSDKModule/bin/com/alfresco/appcelerator/module/sdk/RepositorySessionProxy.class
AndroidSDKModule/bin/com/alfresco/appcelerator/module/sdk/SDKUtil.class
AndroidSDKModule/bin/com/alfresco/appcelerator/module/sdk/SearchServiceProxy$1.class
AndroidSDKModule/bin/com/alfresco/appcelerator/module/sdk/SearchServiceProxy$2.class
AndroidSDKModule/bin/com/alfresco/appcelerator/module/sdk/SearchServiceProxy$3.class
AndroidSDKModule/bin/com/alfresco/appcelerator/module/sdk/SearchServiceProxy$4.class
AndroidSDKModule/bin/com/alfresco/appcelerator/module/sdk/SearchServiceProxy.class
AndroidSDKModule/bin/com/alfresco/appcelerator/module/sdk/SessionProxy.class
AndroidSDKModule/bin/com/alfresco/appcelerator/module/sdk/SiteProxy.class
AndroidSDKModule/bin/com/alfresco/appcelerator/module/sdk/SiteServiceProxy$1.class
AndroidSDKModule/bin/com/alfresco/appcelerator/module/sdk/SiteServiceProxy$10.class
AndroidSDKModule/bin/com/alfresco/appcelerator/module/sdk/SiteServiceProxy$11.class
AndroidSDKModule/bin/com/alfresco/appcelerator/module/sdk/SiteServiceProxy$12.class
AndroidSDKModule/bin/com/alfresco/appcelerator/module/sdk/SiteServiceProxy$2.class
AndroidSDKModule/bin/com/alfresco/appcelerator/module/sdk/SiteServiceProxy$3.class
AndroidSDKModule/bin/com/alfresco/appcelerator/module/sdk/SiteServiceProxy$4.class
AndroidSDKModule/bin/com/alfresco/appcelerator/module/sdk/SiteServiceProxy$5.class
AndroidSDKModule/bin/com/alfresco/appcelerator/module/sdk/SiteServiceProxy$6.class
AndroidSDKModule/bin/com/alfresco/appcelerator/module/sdk/SiteServiceProxy$7.class
AndroidSDKModule/bin/com/alfresco/appcelerator/module/sdk/SiteServiceProxy$8.class
AndroidSDKModule/bin/com/alfresco/appcelerator/module/sdk/SiteServiceProxy$9.class
AndroidSDKModule/bin/com/alfresco/appcelerator/module/sdk/SiteServiceProxy.class
AndroidSDKModule/bin/com/alfresco/appcelerator/module/sdk/TagProxy.class
AndroidSDKModule/bin/com/alfresco/appcelerator/module/sdk/TaggingServiceProxy$1.class
AndroidSDKModule/bin/com/alfresco/appcelerator/module/sdk/TaggingServiceProxy$2.class
AndroidSDKModule/bin/com/alfresco/appcelerator/module/sdk/TaggingServiceProxy$3.class
AndroidSDKModule/bin/com/alfresco/appcelerator/module/sdk/TaggingServiceProxy.class
AndroidSDKModule/bin/com/alfresco/appcelerator/module/sdk/VersionServiceProxy$1.class
AndroidSDKModule/bin/com/alfresco/appcelerator/module/sdk/VersionServiceProxy.class
AndroidSDKModule/bin/com/alfresco/appcelerator/module/sdk/CloudSessionProxy$1.class
AndroidSDKModule/bin/com/alfresco/appcelerator/module/sdk/CloudSessionProxy$ConnectToRepo.class
AndroidSDKModule/bin/com/alfresco/appcelerator/module/sdk/CloudSessionProxy.class
AndroidSDKModule/bin/com/alfresco/appcelerator/module/sdk/DocumentFolderServiceProxy$8.class
AndroidSDKModule/bin/com/alfresco/appcelerator/module/sdk/OAuthDataProxy.class
AndroidSDKModule/bin/com/alfresco/appcelerator/module/sdk/PersonServiceProxy$3.class
AndroidSDKModule/bin/com/alfresco/appcelerator/module/sdk/PersonServiceProxy$4.class
AndroidSDKModule/bin/com/alfresco/appcelerator/module/sdk/PersonServiceProxy$5.class
AndroidSDKModule/bin/com/alfresco/appcelerator/module/sdk/SiteServiceProxy$13.class
AndroidSDKModule/bin/com/alfresco/appcelerator/module/sdk/SiteServiceProxy$14.class
AndroidSDKModule/bin/com/alfresco/appcelerator/module/sdk/SiteServiceProxy$15.class
AndroidSDKModule/bin/com/alfresco/appcelerator/module/sdk/SiteServiceProxy$16.class
